/* MessagesComponent's private CSS styles */
h2 {
    color: rgb(7, 4, 20);
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
  }
  body {
    margin: 2em;
  }
  body, input[text] {
    color: rgb(7, 4, 20);
    font-family: 'Montserrat', sans-serif;
  }
  
  button.clear {
    font-family: 'Montserrat', sans-serif;
    background-color: #eee;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    cursor: hand;
  }
  
  #nav-list a:hover{
    background: #e7e7e7;
}
  button:hover {
    background-color: #4f4eb6;
  }
  button:disabled {
    background-color: #eee;
    color: #aaa;
    cursor: auto;
  }
  button.clear {
    color: #fff;
    margin-bottom: 12px;
  }