<div class="container jumbotron">
  <img src="../assets/images/jumbotron_768.jpg" alt="Picture of heoes" class="img-responsive visible-xs" >
  <img src="../assets/images/jumbotron_992.jpg" alt="Picture of heoes" class="img-responsive visible-md">
  <img src="../assets/images/jumbotron_1200.jpg" alt="Picture of heoes" class="img-responsive visible-ls">
</div>
<!-- 
  <div class="col-md-4 col-sm-12 col-xs-12 ">
    <a href="https://goo.gl/maps/rVcqVszkE9v" target="_blank">
      <div id="map-tile">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2593.7693579462652!2d74.37650282982494!3d31.464731880600624!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3919066d75fbdd09%3A0xed67b376f1b68f6b!2sJohnny+%26+Jugnu+DHA!5e1!3m2!1sen!2s!4v1514552237015" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        <span>map</span>
      </div>
    </a>
  </div> -->
